body{
	background-image: url(../img/bg_busines4.jpg) ;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:#fff;
    position: relative;
    background-color: #323232;
}
body:before {
	content: '';
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: -1;
}
/**********************************************
					PRELOADER
***********************************************/
#p_prldr{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 30;
	background: #fff;

}
.contpre small{font-size:25px;
}
.contpre{
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#fff;
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}
.preloader_img{
	position: absolute;
	z-index: -1;
	width: 70px;
	height: 70px;
	left: 120px;
	top: 40px;
}
.img_zone{
	position: relative;
	width: 313px;
	margin: 100px auto;
	padding: 0px auto;
	align-content: center; 
}
.round1{
	border: 1px solid transparent;
	border-top-color:#33b5e5;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin:0px auto;
	position: relative;
	animation: spiner 1s infinite linear;
	display: grid
}
.round1:before{
	content: '';
	border: 1px solid transparent;
	border-top-color:#33b5e5;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	right:10px;
	top:10px;
	bottom: 10px;
	animation: spiner 2s infinite linear;
}
.round1:after{
	content: '';
	border: 1px solid transparent;
	border-top-color:#33b5e5;
	border-radius: 50%;
	position: absolute;
	left: 23px;
	right:23px;
	top:23px;
	bottom: 23px;
	animation: spiner 1.5s infinite linear;
}
@-webkit-keyframes spiner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
@keyframes spiner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}
/**********************************************
					MAIN
***********************************************/
.main{
	height: 100vh;
	margin: 70px auto;
}
.main_img{
	width: 100%;
	position: absolute;
}
.menu{
	padding: 0px 20px 0px 20px;
}
.navbar{
	background-color: rgba(22, 22, 22, 0.7);
	border-bottom: transparent;
}
.navbar-brand{
	font-family: 'Arkhip_font', sans-serif;
	text-transform: uppercase;
}
.navbar-nav{
	text-transform: uppercase;
	text-align: center;
	margin-left:800px;
}
.main_h{
	color: #33b5e5;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
	margin: 0px auto 0px auto;
	padding:0px;

	text-decoration:underline #33b5e5
}
.main_txt{
	text-align: center;
	font-size: 20px;
	margin:0px auto 0px auto;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.main_btn{
	display:block;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	margin: 20px auto 0px auto;
	border: 1px solid #fff;
	text-align: center;
	width: 300px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	border-radius: 2px;
	text-decoration: none;
	transition: 0.2s;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 0px

}
.main_btn:hover{
	text-decoration: none;
	color: #000;
	background-color: #fff;
}
/**********************************************
					FOOTER
***********************************************/
footer{
	margin-top: 1300px;
 	background-color: #222222;
 	padding-top: 40px;
 	padding-bottom: 40px;
}

.footer img{
	display: inline-block;
}
.footer_paymon_word{
	text-transform: uppercase;
	font-family: 'Arkhip_font', sans-serif;
	font-size: 20px;
}
.footer_h{
	text-transform: uppercase;
}
.footer_sosialnetworks{
	margin-left: -10px;
}
.footer_sosialnetworks i{
	font-size: 30px;
	width: 10px;
}
.footer_p_lh {
	line-height: 30px;
}
.footer_stoeres img{
	display:block;
	margin: 3px auto 3px auto;
}
.footer_stoeres{
	border:1px solid #fff;
	display: block;
	border-radius: 3px;
	width: 130px;
	margin-top: 5px;
	transition: 0.2s;
}
.footer_stoeres:hover{
	background-color: #000;
}
.footer_links {
	color: #fff;
}
.footer_links:hover{
	color: #fff;
	text-decoration: none;
}
