body{
	padding: 0px;
	margin: 0px;
	background-color: #323232;
	color: #fff;
	position: relative;
}
*{
  font-family: 'Roboto Regular', arial;
  font-weight: 300;
  box-sizing: border-box;
}
/**************
**H-E-A-D-E-R**
***************/
header{
	margin: 0px auto;
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 50px;
	padding: 10px 20px;
	align-items: center;
	text-transform: uppercase;
	position: fixed; 
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	justify-content: center;
	z-index: 5;
}
.header-bg{
	position: fixed;
	height: 70px;
	width: 100% ;
	z-index: 3;
	background-color: #323232;
}
header a{
	color: #fff;
	text-decoration: none;
	transition: 0.2s;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
header a:hover{
		text-shadow: 2px 2px 2px rgba(222, 222, 222, 0.5);
}
.header_left_column{
	display: grid;
	text-align: left;
	align-items: center;
	grid-template-columns: 1fr 10fr;
}
.header_left_column img{
	width: 30px;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0, 0.3));
}
.header_left_column a{
	font-family: 'Arkhip_font', sans-serif;
	padding-left: 20px;
}
.header_right_column{
	text-align: right;
}
.header_right_column a:last-child{
	padding-right: 0px;
}
.header_right_column a{
	text-align: center;
	padding:0px 20px;
}
/**************
****M-A-I-N****
***************/
.main{
	background-image: url(../img/PERSONAL_ACCOUNT_bg.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: 1fr 3fr;
	grid-gap: 30px;
	padding: 100px 80px;
}
.main_column1{
	background-color: #fff;
	height: 700px;
	border-radius: 25px;
	padding: 10px;
	color: #000;
}
.main_column1 h3{
	text-align: center;
}
.main_column1 a{
	display: block;
	width: 200px;
	margin: 0px auto;
	background-color: #33b5e5;
	height: 50px;	
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	margin-top: 50px;
}
.main_column2{
	height: 700px;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 200px auto;
	grid-row-gap: 20px;
}
.main_column2 div{
	background-color: #fff;
	border-radius: 25px;	
	padding: 10px;
}
.main_row1{
	display: grid;
	grid-template-columns: 3fr 2fr 3fr 2fr;
	grid-column-gap: 10px;
	color: #000;
	text-align: center;
}
.invest{
	text-decoration: none;
	background-color: #33b5e5;
	color: #fff;
	display: block;
	text-align: center;
	border-radius: 15px;
	height: 50px;
	line-height: 50px;
	margin-top: 40px;
}
.crypto span{
	color: #fff;
	margin: 0px 10px;
	background-color: #33b5e5;
	padding: 10px 15px;
	border-radius: 10px;
}
.cash span{
	margin: 0px 10px;
	padding: 10px 30px;
}
.photo_area{
	height: 350px;
	border-radius: 25px;
	position: relative;
	display: grid;
	align-items: center;
	align-content: center;
}
.photo_area img{
	width: 100%;
}
.column1_Info{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 30px auto;
	grid-template-rows: 40px 40px 40px;
	align-content: center;
	align-items: center;
}
.column1_Info img{
	width: 100%;
}
.main_row2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px auto auto;
	grid-gap: 20px;
}
.main_row2 p{
	color: #000;
	text-align: center;
}
.main_row2 a{
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	color: #000;
	display: block;
	height: 50px;
	line-height: 50px;
	border-radius: 15px;
	display: grid;
	margin-top: 100px;
	text-decoration: none;
}
.main_row2 div{
	background-color: #33b5e5;
}
.main_row2-column1{
	display: grid;
	padding: 0;
	margin: 0;
	grid-template-columns: 1fr;
	text-align: center;
	align-items: bottom;
}
.main_row2-column2{
	display: grid;
	padding: 0;
	margin: 0;
	grid-template-columns: 1fr;
	text-align: center;
	align-items: bottom;
}
.main_row2-column1 p{
	margin-top: 70px;
}
.main_row2-column3{
	display: grid;
	padding: 0;
	margin: 0;
	grid-template-columns: 1fr;
	text-align: center;
	align-content: bottom;
	align-content: bottom;

}
.main_row2_columns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
/**************
**F-O-O-T-E-R**
***************/
footer{
	padding: 0px 50px;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 264px 1fr 1fr 1fr;	
	min-height: 250px;
	background-color: #323232;
	z-index: 2;
}
footer div h3{
	text-transform: uppercase;
	margin-top: 0px;
}
footer div{
	height: 153px;
	padding: 0px 10px;
}
.footer_column1 h3{
	font-family: 'Arkhip_font', sans-serif;
}
.footer_column2 {
	text-align: right;
}
.footer_column2 a{
	color: #fff;
	text-decoration: none;
}
.footer_column4 {
	text-align: right;
}
.footer_column3 {
	text-align: right;
}
.footer_column3 a{
	color: #fff;
	text-decoration: none;
}
.footer_column5 {
	text-align: center;
}
.footer-img-area{
	height: 100px;
}
.footer-img-area img{
	width: 120px;
	border-radius: 5px;
	padding: 5px 10px;
	transition: 0.2s;
	border: 1px solid #fff;
}
.footer-img-area img:hover{
	background-color: rgba(0,0,0, 0.5);
}
.footer_social_area img{
	width: 30px;
}
.footer_social_area{
	word-spacing: 10px;
	line-height: 0px;
}