body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3c2c7+0,f8f7f5+100 */
background: #b3c2c7; /* Old browsers */
background: -moz-linear-gradient(45deg,  #b3c2c7 0%, #f8f7f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #b3c2c7 0%,#f8f7f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #b3c2c7 0%,#f8f7f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c2c7', endColorstr='#f8f7f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height: 100vh;
}
.img_preloader{
	position: absolute;
	z-index: -1;
	width: 70px;
	height: 70px;
	left: 120px;
	top: 40px;
}

.img_zone{
	position: relative;
	width: 313px;
	margin: 0px auto;
	padding: 0px auto;
	align-content: center; 
}
.round1{
	border: 3px solid transparent;
	border-top-color:#323232;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin:0px auto;
	position: relative;
	animation: spiner 1s infinite linear;
	display: grid
}
.round1:before{
	content: '';
	border: 3px solid transparent;
	border-top-color:#bac7b3;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	right:10px;
	top:10px;
	bottom: 10px;
	animation: spiner 2s infinite linear;
}
.round1:after{
	content: '';
	border: 3px solid transparent;
	border-top-color:#33b5c5;
	border-radius: 50%;
	position: absolute;
	left: 23px;
	right:23px;
	top:23px;
	bottom: 23px;
	animation: spiner 1.5s infinite linear;
}



@-webkit-keyframes spiner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}


}

@keyframes spiner {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}